@font-face {
  font-family: 'Pico8';
  src: url('pico-8.otf') format('truetype');
}
body,h1,button {
  font-family: 'Pico8', monospace;
  font-size: 15px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: inline-flex;
    border: 1px solid black;
    margin-top: 10vh;
    width: 350px;
    height: 45vh;
    border-radius: 10px;
    flex-direction: column;
    background-color: #4E6851;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.3);

}
.main h1{
    margin-left: 10px;
}
.display{
    display:flex;
    align-items: center;
    justify-content: end;
    margin: 10px;
    border: 1px solid black;
    height: 40px;
    border-radius: 10px;
    background-color: #B83A2D;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin: 10px;
}
.buttons button{
    background-color: #DCC9A9;
}
